.user-choice {
  position: absolute;
  right: 1rem;
  top: 7rem;
  background-color: #ebd3a4;
  width: 22rem;
  height: 15rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.close-user-choice {
  position: absolute;
  right: 10px;
  top: 10px;
}

.user-choice-contenue {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.user-choice-contenue h1 {
  font-size: 36px;
  color: white;
}

.user-choice-contenue button {
  width: 15rem;
  height: 2.6rem;
  border-radius: 20px;
}
