.auth {
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.input {
  width: 350px;
  height: 50px;
  border-radius: 40px;
  border: none;
  padding-left: 15px;
}
