footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 20rem;
  padding: 10px;
}
.rejoignez-nous p {
  color: white;
}

.images-logo-sociaux {
  display: flex;
  gap: 1.5rem;
  margin: 1rem;
}
.images-logo-sociaux img {
  width: 30px;
  height: 30px;
}

footer section p {
  color: white;
  font-size: 16px;
}

.abonnés {
  background-color: #d9d9d9;
  border-radius: 45px;
}
.nombre-abonnés {
  color: black;
}

.user-reseaux {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 16rem;
}

.abonnés {
  width: 12rem;
  height: 3rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

.abonnés p {
  text-align: center;
  padding: 5px;
  margin: auto;
}

.button-abonnés {
  background-color: #2f6b75;
  border-radius: 25px;
  width: 18rem;
  height: 4rem;
  color: white;
}

.haut-page {
  background-color: #e4c2a5;
  border-radius: 25px;
  width: 16rem;
  height: 4rem;
  color: black;
}

.footer-images {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commande-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
}

.info-song2bar {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.paragraphe-song2bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.info-song2bar p {
  font-size: 11px;
}

.newletter-song2bar {
  display: flex;
  gap: 10px;
}
.newletter p {
  color: #aa682e;
}
.song2bar p {
  color: #2f6b75;
}
.apropos-contact {
  display: flex;
  gap: 50px;
}

.apropos p {
  color: #aa682e;
}
.contact p {
  color: #2f6b75;
}

@media screen and (width <= 600px) {
  footer {
    flex-direction: column;
    height: 40rem;
  }
  .footer-images {
    justify-content: space-evenly;
  }
  .info-song2bar p {
    font-size: 1rem;
  }
}
