.component-header {
  position: relative;
  width: 93rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.component-header .search-bar {
  border-radius: 35px;
  background-color: #ebd2a4;
  font-size: 1rem;
  margin-right: 4rem;
}

.logo-connexion-button {
  background-color: #23241f;
  margin-right: 1rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
}
.component-header .logo-connexion {
  margin-bottom: 8rem;
}

.user-role-container {
  position: absolute;
  top: 100%;
  right: 15px;
  z-index: 10;
}
