button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.container-favorite {
  position: relative;
  display: inline-block;
}

.popup {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #aa682e;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  z-index: 1000;
  animation: fadein 0.3s ease;
  white-space: nowrap;
}
